{% extends "./base.html" %}
{% block content %}

{% include "./elements/heading.html" with h=1 content='Credenciales de su Kit Plan' only%}

{% include "./elements/paragraph.html" with content='Estimado usuario, hemos verificado su compra de Kit Plan '|add:kit_plan|add:'. Por favor, utilize las siguientes credenciales para acceder a las distintas plataformas:' only %}

{% include "./elements/credential.html" with accounts=accounts only %}

{% include "./elements/line.html" %}

{% include "./elements/paragraph.html" with content='Si se encuentra con alguna dificultad, no dude en ponerse en contacto con nosotros: '|add:contact_email|add:'. ' only %}

{% include "./elements/line.html" %}

{% endblock  %}
